.column {
  background-color: var(--dark);
  max-width: 25rem;
  width: 100%;
  padding: 1.25rem;
  flex-shrink: 0;
  border-radius: 16px;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    &:hover .column__delete {
      opacity: 1;
      visibility: visible;
    }
  }

  &__delete {
    color: red;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition:
      visibility 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    ;
  }

  &__name {
    font-size: 1.5rem;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
