.add-item {
  border: none;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  border-radius: 4px;
  background-color: cornflowerblue;
  color: var(--white);
  padding: 0.25rem;
  cursor: pointer;
}
