*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #262626;
  --white: #fff;
  --mint: #00B294;
  --purple: #7678D1;
  --pink: #C94AA8;
  --red: #DA3A3A;
}

body {
  user-select: none;
  font-family: "Open Sans", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
